{% load static %}

<div>
    <div id="top_div" class="pb-4 pt-2" >
        <div class="top_div_text">
            <div class="text-wrap">
                <h3 id="h_3" class="fw-bold fs-2">Online Url Shortener</h3>
                <p id="p_1" class="text-muted">
                    Converts your long url with a single click.
                    Free Usage.
                </p>
            </div>
        </div>
        <div class=" top_div_img">
            <img src="{% static 'main/speaker (1).png' %}" class="img-fluid" id="speaker" alt="speaker">
        </div>
    </div>
</div>